@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-color-1: rgb(0, 0, 0);
  --bg-color-2: green;
  --bg-color-3: red;
  --bg-color-4: gray;

  --text-color-1: white;
  --text-color-2: blue;
  --text-color-3: gray;
  --text-color-4: green;
}

.bg-color-1 {
  background: var(--bg-color-1)
}

.bg-color-2 {
  background: var(--bg-color-2)
}

.bg-color-3 {
  background: var(--bg-color-3)
}

.bg-color-4 {
  background: var(--bg-color-4)
}

.text-color-1 {
  color: var(--text-color-1);
}

.text-color-2 {
  color: var(--text-color-2);
}

.text-color-3 {
  color: var(--text-color-3);
}


.text-color-4 {
  color: var(--text-color-4);
}

.theme-btn ion-icon {
  color: var(--text-color-1)
}

