@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-color-1: #ffffff;
  --bg-color-2: #ebedf0;
  --bg-color-3: #adb0b4;
  --bg-color-4: #29af5a;

  --text-color-1: #111827;
  --text-color-2: #1f2937;
  --text-color-3: #3f3f46;
  --text-color-4: #ffffff;
  --text-color-5: var(--bg-color-4)
}

.border-1 {
  border: 1px solid var(--text-color-3);
}

.bg-1 {
  background: var(--bg-color-1)
}

.bg-2 {
  background: var(--bg-color-2)
}

.bg-3 {
  background: var(--bg-color-3)
}

.bg-4 {
  background: var(--bg-color-4)
}

.text-color-1 {
  color: var(--text-color-1);
}

.text-color-2 {
  color: var(--text-color-2);
}

.text-color-3 {
  color: var(--text-color-3);
}


.text-color-4 {
  color: var(--text-color-4);
}

.text-color-5 {
  color: var(--text-color-5)
}

.header-btn ion-icon {
  color: white;
}

.btn-hover:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.06);
}

.hover:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.header-btn-hover:hover {
  background-color: rgb(238, 238, 238);
  border-bottom: 2px solid green;
}

.home-bg-img {
  background-image: url('https://img.freepik.com/free-vector/time-management-concept-illustration_114360-1013.jpg?t=st=1648756890~exp=1648757490~hmac=9c876e0067094fd02f14fa7a80390fd848573330a8ab99a5b7bf0d9f248dc696&w=996');
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.link {
  cursor: pointer;
}

.link-sidebar:hover {
  transform: scale(1.01);
  border-radius: 10px;
  background-color: var(--bg-color-2);
  transition: 0.3s;
}

.parenttrue ion-icon {
  transform: rotate(90deg);
  transition: 0.3s;
}

.parentfalse ion-icon {
  transform: rotate(0deg);
  transition: 0.3s;
}

.ion-red ion-icon {
  color: rgb(219, 52, 52);
}

.complete {
  opacity: .6;
  -webkit-text-decoration-color: #ff6c6c;
  text-decoration-color: #ff6c6c;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}

.show-btn-on-hover:hover button {
  display: block;
}

.disabled-hover:hover {
  opacity: 0.50;
  transform: scale(1)
}